/* line 3, style.scss */
.main-container {
  margin-top: 44px;
  padding: 10px;
}

/* line 10, style.scss */
.image-container img {
  width: 100%;
}

/* line 15, style.scss */
.btn-load-image {
  padding: 10px 5px;
}

/* line 19, style.scss */
.form-hidden {
  display: none;
}
/* line 22, style.scss */
.form-hidden.show {
  display: block;
}
