$container-top: 44px;

.main-container {
	margin-top: $container-top;
	padding: 10px;
}

.image-container {

	img {
		width: 100%;
	}
}

.btn-load-image {
	padding: 10px 5px;
}

.form-hidden {
	display: none;

	&.show {
		display: block;
	}
}